<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UY-Compable" content="ie=edge">
        <title>Osiris</title>
        <link
        href="mainOsiris.css"
        rel="stylesheet">
    </head>

    <body>
        <div class="text-container">
            <h1>Osiris</h1>
        </div>
        <div class="wrapper">
            <div class="title">
               Login & Registration
            </div>
            <form action="#">
               <div class="field">
                  <input type="text" required>
                  <label>Username</label>
               </div>
               <div class="field">
                  <input type="password" required>
                  <label>Password</label>
               </div>
               <div class="content">
                  <div class="checkbox">
                     <input type="checkbox" id="remember-me">
                     <label for="remember-me">Remember me (login)</label>
                  </div>
               </div>
               <div class="field">
                  <input type="submit" value="Login">
               </div>
            </form>
         </div>
    </body>
</html>
