<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osiris</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="messenger.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>OSIRIS</h1>
        </div>

        <!-- Navbar -->
        <ul>
            <li>
                <a href="#sign-out">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="PImg.jpg" alt="" width="100" height="100">

            <div class="name">
                UserName
            </div>
            <div class="job">
                User (or Admin)
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#settings">Edit</a>
          </div>
      
      
      <div class="area" >
                  <ul class="circles">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                  </ul>
          </div >
        </div>
        
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>MESSENGER</h2>
        <div class="card">
            <div class="card-body">

              <div class="screen">
                <div class="conversation">
                  <div class="messages messages--received">
                    <div class="message">This codepen is an exemple of</div>
                    <div class="message">how to create the Facebook thumb up</div>
                  </div>
                  <div class="messages messages--sent">
                    <div class="message">Try to type</div>
                    <div class="message">or click the thumb up!</div>
                    <div class="message">;)</div>
                  </div>
                  <div class="messages messages--received">
                    <div class="message">Enjoy!</div>
                  </div>
                </div>
                <div class="text-bar">
                  <form class="text-bar__field" id="form-message">
                    <input type="text" placeholder="Type or thumb up ;)"/>
                  </form>
                  <div class="text-bar__thumb">
                    <div class="thumb"></div>
                  </div>
                </div>
              </div>  
              
            </div>
        </div>

        
    </div>
    <!-- End -->
</body>
</html>