<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messenger</title>
  <link rel="stylesheet" href="static/styles/styles.css">
  <script src="/static/scripts/websocket.js" defer=""></script>
  <script src="/static/scripts/Messenger.js" defer=""></script>
</head>
<body onload="init_chat_bar()">
  <div class="messenger-container">
    <div id="chat_list" class="chat-list">
      <!-- Список чатов -->
      
    </div>
    <div class="chat-window">
       

        <div id="dialog_container" class="dialog-container">
            <!-- Окно чата -->

        </div>


        <div class="form-container">
            <form id="msg_sender">
                <input id="message_text" type="text" name="message" placeholder="Введите сообщение" class="message-input">
                <button type="submit" class="submit-button">➡️</button>
            </form>
        </div>
    </div>

  <div class="floating-button">
    <button onclick="handleButtonClick()">+</button>
  </div>

</body>
</html>
